/* COLORS */
/* LIGHT GRAY: #F5F5F5 */
/* ORANGE: #E1712F */

* {
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 24px;
    color: rgb(31, 31, 31);
    padding: 0;
    margin: 0;
}


/**************************************************************
 *  ADVERTISING
 *************************************************************/

.advertising {
    background: linear-gradient(rgba(31, 31, 31, 0.95), rgba(31, 31, 31, 0.95)), url(newspaper.jpg);
    background-color: #1F1F1F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.advertising--banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.advertising--icon {
    display: flex;
    margin-right: 20px;
}

.advertising--icon img {
    width: auto;
    height: 100px;
}

.advertising--right {
    display: flex;
    flex-flow: column nowrap;
}

.advertising--title {
    display: flex;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    font-size: 86px;
    font-weight: 100;
    margin-bottom: 20px;
}

.advertising--slogan {
    display: flex;
    color: #FFF;
    font-weight: 100;
    font-size: 36px;
    line-height: 1.5;
}


/**************************************************************
 *  PRINCE
 *************************************************************/

.prince {
    background-color: #1F1F1F;
    padding: 100px;
    display: flex;
    flex-flow: column nowrap;
}

.prince--header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 100px;
}

.prince--title {
    color: #FFF;
    font-size: 96px;
    font-weight: 100;
    margin-right: auto;
}

.prince--icon img {
    width: 400px;
}

.prince--text {
    color: #FFF;
    font-size: 28px;
}

/**************************************************************
 *  REACH
 *************************************************************/

.reach {
    background-color: #F5F5F5;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
}

.reach--header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.reach--line {
    display: flex;
    font-size: 24px;
    border-bottom: 2px solid #E1712F;
    width: 33%;
}

.reach--title {
    display: flex;
    font-size: 48px;
    width: 34%;
    justify-content: center;
}

.reach--row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    padding: 15px;
}

.reach--icon {
    margin-bottom: 20px;
}

.reach--icon img {
    width: 150px;
}

.reach--col {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.reach--stat {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.reach--stat--emph {
    font-size: 48px;
    color: #E1712F;
}

/**************************************************************
 *  MEET PRINCETON
 *************************************************************/

.meet {
    background-color: #FFF;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
}

.meet--header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.meet--line {
    display: flex;
    font-size: 24px;
    border-bottom: 2px solid #E1712F;
    width: 33%;
}

.meet--title {
    display: flex;
    font-size: 48px;
    width: 34%;
    justify-content: center;
    text-transform: uppercase;
}

/**************************************************************
 *  RATES
 *************************************************************/
.rates {
    flex-flow: column nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.rates--select {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 500px;
}

.rates--select select {
    background-color: #E1712F;
    border: 0px;
    color: #FFF;
    border-radius: 5px;
    padding: 0.125rem;
    margin-left: 0.5rem;
}

.rates--select--option {
    background-color: #FFF;
}

.rates--container {
    display: flex;
    flex-wrap: wrap;
}

.rates--rate {
    display: flex;
    flex-direction: column;
}

.rates--card {
    min-width: 200px;
    max-width: 350px;
    border-radius: 10px;
    flex-grow: 1;
    box-shadow: 0px 2.5px 5px 2.5px lightgrey;
    background-color: #FFF;
    border-color: steelblue;
    padding: 25px;
    margin: 17.5px;
}

.rates--type {
    color: #E1712F;
    font-size: 1.5em;
    text-transform: uppercase;
    align-self: center;
}

.rates--subtype--container {
    display: flex;
    margin-top: 0.25rem;
}

.rates--subtype {
    display: inline;
    font-size: 1.25em;
    text-transform: capitalize;
    margin-right: 1em;
}

.rates--cost {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #E1712F;
    margin-left: auto;
}