/* COLORS */
/* LIGHT GRAY: #F5F5F5 */
/* ORANGE: #E1712F */

* {
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: rgb(31, 31, 31);
    padding: 0;
    margin: 0;
}

a {
    color: #E1712F;
    text-decoration: none;
}

.section {
    padding: 50px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}


.header--line {
    display: flex;
    border-bottom: 2px solid #E1712F;
    font-size: 24px;
    width: 25%;
}

.header--title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 48px;
    width: 50%;
}

.asterisk {
    font-size: 10px;
}

/**************************************************************
 *  ADVERTISING
 *************************************************************/

.advertising {
    background: linear-gradient(rgba(31, 31, 31, 0.9), rgba(31, 31, 31, 1)), url(newspaper.jpg);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;
}

.advertising--banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 200px;
}

.advertising--icon {
    margin-right: 20px;
}

.advertising--icon img {
    height: 100px;
}

.advertising--right {
    display: flex;
    flex-flow: column nowrap;
}

.advertising--title {
    color: #FFF;
    border-bottom: 1px solid #FFF;
    font-size: 86px;
    font-weight: 100;
    margin-bottom: 20px;
}

.advertising--slogan {
    color: #FFF;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.4;
}

.advertising--breaking i {
    color: #FFF;
    font-size: 36px;
}

.advertising--breaking b {
    color: #FFF;
    font-size: 36px;
}

.advertising--optbreak {
    display: none;
}

/**************************************************************
 *  PRINCE
 *************************************************************/

.prince {
    background-color: #1F1F1F;
    display: flex;
    flex-flow: column nowrap;
}

.prince--header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.prince--title {
    color: #FFF;
    font-size: 88px;
    margin-right: auto;
}

.prince--icon img {
    width: 300px;
}

.prince--text {
    color: #FFF;
    font-size: 28px;
    padding-bottom: 50px;
}

/**************************************************************
 *  REACH
 *************************************************************/

.reach {
    background-color: #F5F5F5;
    display: flex;
    flex-flow: column nowrap;
}

.reach--row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.reach--icon {
    margin-bottom: 10px;
}

.reach--icon img {
    width: 100px;
}

.reach--col {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 350px;
    margin-bottom: 25px;
}

.reach--stat {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px;
}

.reach--stat--emph {
    color: #E1712F;
    font-size: 36px;
}

/**************************************************************
 *  MEET PRINCETON
 *************************************************************/

.meet {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.meet--intro {
    width: 70%;
    border-radius: 20px;
    border: 2px solid #E1712F;
    padding: 30px;
    text-align: center;
}

.meet--charts {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.meet--chart {
    display: flex;
    border-radius: 20px;
    border: 2px solid #E1712F;
    overflow: hidden;
    width: 350px;
    height: 250px;
    margin: 25px 10px 15px 10px;
    padding: 20px;
}

.meet--chart img {
    width: 350px;
}

.meet--cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.meet--card {
    border-radius: 20px;
    border: 2px solid #E1712F;
    text-align: center;
    width: 350px;
    height: 125px;
    margin: 10px;
    padding: 20px;
}

.meet--card--stat {
    color: #E1712F;
    font-size: 48px;
}

.meet--card--stat--sm {
    color: #E1712F;
    font-size: 24px;
}

.meet--card--img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}


/**************************************************************
 *  WHY?
 *************************************************************/

.why {
    background-color: #E1712F;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center
}

.why--header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.why--line {
    display: flex;
    font-size: 24px;
    border-bottom: 2px solid #FFF;
    width: 25%;
}

.why--title {
    display: flex;
    font-size: 48px;
    width: 50%;
    justify-content: center;
    color: #FFF;
}

.why--text {
    display: flex;
    width: 80%;
    text-align: center;
    color: #FFF;
}

/**************************************************************
 *  RATES
 *************************************************************/
 .rates {
    background-color: #F5F5F5;
    flex-flow: column nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rates--select {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 500px;
}

.rates--select select {
    background-color: #E1712F;
    border: 0px;
    color: #FFF;
    border-radius: 5px;
    padding: 0.125rem;
    margin-left: 0.5rem;
}

.rates--select--option {
    background-color: #FFF;
}

.rates--container {
    display: flex;
    flex-wrap: wrap;
}

.rates--rate {
    display: flex;
    flex-direction: column;
}

.rates--card {
    width: 85vw;
    border-radius: 10px;
    flex-grow: 1;
    box-shadow: 0px 2.5px 5px 2.5px lightgrey;
    background-color: #FFF;
    border-color: steelblue;
    padding: 25px;
    margin: 17.5px;
}

@media (min-width: 640px) {
    .rates--card {
        width: 30vw;
    }
}

@media (min-width: 1024px) {
    .rates--card {
        width: 25vw;
    }
}

.rates--type {
    color: #E1712F;
    font-size: 1.25em;
    text-transform: uppercase;
    align-self: center;
}

.rates--subtype--container {
    display: flex;
    margin-top: 0.25rem;
}

.rates--subtype {
    display: inline;
    font-size: 1.125em;
    text-transform: capitalize;
    margin-right: 1em;
}

.rates--cost {
    font-size: 1.2em;
    text-transform: capitalize;
    color: #E1712F;
    margin-left: auto;
}